In [12]:
fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi']

In [13]:
fruits

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [8]:
len(fruits)

5

In [15]:
# indexing

fruits[2]

'orange'

In [17]:
for i in fruits:
    print(i)

apple
banana
orange
grape
kiwi

In [20]:
for fr in fruits:
    print(len(fr))

5
6
6
5
4

In [21]:
nums = [223, 564, 237, 76, 23, 6]

In [27]:
for n in nums:
    if n%2==0:
        print (f'number {n} is even')
    else:
        print(f'number {n} is odd')

number 223 is odd
number 564 is even
number 237 is odd
number 76 is even
number 23 is odd
number 6 is even

In [29]:
s=0
for n in nums:
    print(s)
    s = s+n

    print(s)

0
223
223
787
787
1024
1024
1100
1100
1123
1123
1129

In [33]:
sum(nums)

1129

In [67]:
s = 0
for n in nums:
    print(s)
    s = s + n
    
print(s)

0
100
178
234
304
324
339

In [8]:
# WAP to take avg of a list of numbers

nums = [30, 55, 3, 10, 2]

     av = sum+len(nums)
     

print(avg)

IndentationError: unexpected indent (2671963683.py, line 5)

In [62]:
# Take an list of movies if only print those which have length less than 5.

Movies = ['Takdeer', 'Braven', 'Asur', 'Mirzapur', 'RRR']
for i in Movies:
    if len(i)<5:
        
     print(i)

Asur
RRR

In [49]:
# WAP print sum of square of all numbers in a list.
s=0
nums = [50, 10, 100, 55, 60]
for n in nums:
     s = s + n*n
     
    
print(s)

19225

In [50]:
sum(nums)**2

75625